.normal-link {
    color: black;
    text-decoration: none;
}

.custom-header {
    border-bottom: black 2px !important;
}

.spacer {
  flex: 1 1 auto;
}

main {
  padding: 20px;
}

mat-toolbar {
  button {
    margin-left: 8px;

    mat-icon {
      margin-right: 4px;
    }
  }
}
